@media (max-width:2700px) {
    .phone {
        width: 40rem;
        height: 65rem;
        position: absolute;
        top: 5rem;
        left: 15rem;
    }
    .image-iran {
        height: 20vw;
        width: 100%;
    }
    .img-header {
        height: 30vh;
    }
}

@media (max-width:2000px) {
    .phone {
        width: 30rem;
        height: 45rem;
        position: absolute;
        top: 5rem;
        left: 6rem;
    }
}

@media (max-width:1500px) {
    .phone {
        width: 25rem;
        height: 40rem;
        position: absolute;
        top: 5rem;
        left: 4rem;
    }
    .image-iran { 
        height: 30vw;
    }
    .img-shahr {
        height: 15vw;
    }
    .p-footer {
        padding: 0 0px;
    }   
    .font-text {
        font-size: 14px;
    }
    .img-header {
        height: 45vh;
    }
}

@media (max-width:1300px) {
    .font-text {
        font-size: 12px;
    }
}

@media (max-width:1200px) {
    .img-header {
        height: 30vh;
    }
    .phone {
        width: 25rem;
        height: 40rem;
        position: absolute;
        top: 7rem;
        left: 2rem;
    }
    .p-footer {
        padding: 0 0px;
    }
    .img-shahr {
        height: 20vw;
    }
}

@media (max-width:992px) {
    .img2-header {
        width: 80vw;
        right: 10vw;
        top: 2rem;    
    }
    .img-header {
        height: 30vh;
    }
    .margin-top {
        margin-top: 3rem;
    }
    .img-shahr {
        height: 27vw;
    }
    .bag-black {
        height: 35rem;
    }
    .p-footer {
        padding: 0 0px;
    }
}

@media (max-width:767px) {
    .img-shahr {
        height: 65vw;
    }
    .bag-black {
        height: 80rem;
    }  
    .p-footer {
        padding: 0 0px;
    }
}

@media (max-width:680px) {
    .bag-black {
        height: 90rem;
    }  
    .img-shahr {
        height: 75vw;
    }
    .p-footer {
        padding: 0 0px;
    }
    .diisplay-btnn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-header {
        height: 38vh;
    }
}

@media (max-width:576px) {
    .tasvir1 {
        margin-top: 1rem;
        margin: 30px auto 30px ;
    }
    .margin-top {
        margin-top: 1rem;
    }
    .margin-right {
        margin-right: 6rem;
    }
    .img-shahr {
        height: 85vw;
    }
    .p-footer {
        padding: 0 0px;
    }
}

@media (max-width:425px) {
    .img-header {
        height: 42vh;
    }
    .font-text {
        font-size: 8px;
    }
    
}








