@media (max-width:1600px) {
    .p-footer {
        padding: 0 0px;
    }
    .bg-header {
        height: 18rem;
    }
}

@media (max-width:1200px) {
    .p-footer {
        padding: 0 0px;
    }
}

@media (max-width:992px) {
    .f-s-header {
        font-size: 20px;
    }
    .image-iran {
        background-image: url(../image/map-back.svg);
        height: 40vh;
    }
    .bag-black2 {
        height: 36rem;
    }
    .p-footer {
        padding: 0 0px;
    }
}

@media (max-width:768px) {
    .m-right-header {
        margin-right: 1rem;
    }
    .image-iran {
        background-image: url(../image/map-back.svg);
        height: 50vh;
    }
    .bag-black2 {
        height: 55rem;
    }
    .p-footer {
        padding: 0 0px;
    }  
    .margin-foot {
        margin-right: 2rem;
    }
}

@media (max-width:576px) {
    .image-iran {
        background-image: url(../image/map-back.svg);
        height: 60vh;
    }
    .p-footer {
        padding: 0 0px;
    }
    .f-s-header {
        font-size: 15px;
    } 
}


@media (max-width:320px) {
    .bag-black {
        height: 75rem;
    } 
    .bg-header {
        height: 22rem;
    }
}




















